.fondo {
    /*background-image: url('https://files.slack.com/files-pri/T638A9WSY-FNMMH6CER/fondo2.jpg');*/
   /* background-position: center center;*/
   /* background-repeat: no-repeat;*/
    background: url('https://files.slack.com/files-pri/T638A9WSY-FNMMH6CER/fondo2.jpg') center no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;        
}
body { margin: 0%;
}
